services:
  sonarqube:
    image: sonarqube:community
    container_name: sonarqube
    network_mode: "host"
    ports:
      - "9000:9000" #UI
    volumes:
      - sonarqube_data:/opt/sonarqube/data
      - sonarqube_extensions:/opt/sonarqube/extensions
      - sonarqube_logs:/opt/sonarqube/logs
    restart: unless-stopped

volumes:
  sonarqube_data:
  sonarqube_extensions:
  sonarqube_logs:
